@charset "utf-8";

.app-layout{
    /* --navbar-height:56px; */
    --navbar-height:0px;
}

.builder{
    --s-5:5px;
    --s-10:10px;
    --s-20:20px;
    --s-30:30px;
    --s-40:40px;
    --s-50:50px;
    --font-size:20px;
    --el-name:"UNKONWN";

    padding:var(--s-50) var(--s-10);
    margin:var(--s-10);
    outline: 3px dashed #999;
    outline-offset: -3px;
}
.builder *{
    padding:initial;
    margin:initial;
}
.builder .doc{
    margin:var(--s-20);
    /* outline: 2px dashed #999; */
    outline-offset: -2px;
}
.builder .page{
    margin:var(--s-20,0);
    padding:var(--s-20,0);
    box-shadow: 0px 0px 5px #00000099;
}



.builder .doc *[data-type]{
    position: relative;
    min-height: 1.5em;
    min-width: 1.5em
}
.builder .doc *[data-type=layout]{
    margin:var(--s-5);
    padding:var(--s-10);
}
.builder .doc *[data-type="block"]{
    /* margin:var(--s-5); */
    margin:0;
    padding:var(--s-5);
}




/* element dashed box */
.edit-mode .doc *[data-type]::before{
    content: var(--el-name);
    color:#00000033;
    display: block;

    font-size: 12px;
    line-height: 1em;
    padding:0.25em 0.5em;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: absolute;
    top:0;left:0;right:auto;
    pointer-events: none;
    background-color: #99999933;
    z-index: 1;
}
.edit-mode .doc *[data-type]{
    outline: 1px solid #66666666;
}
.edit-mode .doc *[data-type="zone"]{
    outline: 4px dashed #33333333;
    outline-offset: -4px;
}
.edit-mode .doc *[data-type="block"]{
    outline: 2px dashed #00660033;
    outline-offset: -2px;
}
.edit-mode .doc *[data-type="content"]{
    outline: 2px dashed #00006633;
    outline-offset: -2px;
}
.edit-mode .doc *[data-type][data-focus]{
    animation: ani-zone-outline-color 0.4s steps(2, jump-start) 0s infinite alternate both;
}

.edit-mode .doc *[data-type="zone"][data-focus]{
    animation-name: ani-zone-outline-color;
}
.edit-mode .doc *[data-type="block"][data-focus]{
    animation-name: ani-block-outline-color;
}
.edit-mode .doc *[data-type="content"][data-focus]{
    animation-name: ani-content-outline-color;
}

.edit-mode .doc *[data-type="block"]:empty::after{
    content: "EMPTY";
    color: #99999933;
    background-color: #99999911;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

@keyframes ani-zone-outline-color {
    0%{outline-color: #333333ff;}
    100%{outline-color: #33333333;}
}
@keyframes ani-block-outline-color {
    0%{outline-color: #009900ff;}
    100%{outline-color: #00990033;}
}
@keyframes ani-content-outline-color {
    0%{outline-color: #0099ffff;}
    100%{outline-color: #0099ff33;}
}







/* .builder .doc button[data-type="block"]::before{
    content: none;
}
.builder .doc button[data-type="block"]::after{
    content: none;
} */
/* quotes */ 
.builder .doc *[data-type="zone"]{--el-name:"ZONE: " attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h1[data-type="block"]{--el-name:"BLOCK: <h1>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h2[data-type="block"]{--el-name:"BLOCK: <h2>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h3[data-type="block"]{--el-name:"BLOCK: <h3>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h4[data-type="block"]{--el-name:"BLOCK: <h4>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h5[data-type="block"]{--el-name:"BLOCK: <h5>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h6[data-type="block"]{--el-name:"BLOCK: <h6>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc h6[data-type="block"]{--el-name:"BLOCK: <h6>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc p[data-type="block"]{--el-name:"BLOCK: <p>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc div[data-type="block"]{--el-name:"BLOCK: <div>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc figure[data-type="block"]{--el-name:"BLOCK: <figure>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc span[data-type="content"]{--el-name:"<span>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc button[data-type="content"]{--el-name:"<button>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc button[data-type="block"]{--el-name:"BLOCK: <button>" attr(data-component) attr(data-layout) attr(data-status); }
.builder .doc a[data-type="content"]{--el-name:"A: <LINK>" attr(data-component) attr(data-layout) attr(data-status); }



