@charset "utf-8";

/* lfe */
.lfe-container{
    display: none;
}
.edit-mode .lfe-container{
    display: block;
}

.app-layout .lfe-layer{
    pointer-events: none !important;
}
.app-layout .lfe-layer .pointer-events-all{
    pointer-events: all;
}