@charset "utf-8";



.doc *[data-shape="btn-big-red"]{
    font-size: 2em;
    border-width: 0px;
    border-radius: 100vmax;
    background-color: brown;
    color: #fff;
    font-weight: bold;
    display: block;
    margin:0 auto;
    max-width: 300px;
    min-width: 50%;
    text-align: center;
    text-decoration: none;
}