<!doctype html>
<html lang="ko" >
<head>
    <title>document builder layout</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="http://www.mins01.com/favicon.ico"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/js/ForGoogle.js"></script>
    <!-- google analytics -->
    <script>if(window.ForGoogle){ ForGoogle.analytics() }else{ console.log("failure : ForGoogle.analytics()");}</script>
    

    <!-- jquery 관련 -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script> -->

    <!-- 부트스트랩 5.3.x -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    
    <!-- meta og -->
    
    <meta property="og:title" content="document builder">
    <meta property="og:description" content="document builder">
    <meta name="og:image" content="http://www.mins01.com/img/logo.gif">
    <meta property="og:image:width" content="190">
    <meta property="og:image:height" content="70" />
    <meta property="og:site_name" content="document builder" />
    <meta property="og:type" content="website">
    
    <!-- //meta og -->
    <script src="../ui_layerForElement/LayerForElement.js"></script>
    <link rel="stylesheet" href="../ui_layerForElement/lfe.css">
    <!-- <link rel="stylesheet" href="doc.css"> -->
    <link rel="stylesheet" href="data-focus.css">
    <link rel="stylesheet" href="data-shape.css">  
    <link rel="stylesheet" href="builder.css">
    <link rel="stylesheet" href="builder-app.css">
    <link rel="stylesheet" href="builder-lfe.css">

    <script src="helper.js"></script>
    <script src="DocumentBuilder.js"></script>
    <script src="vappCreateApp.js"></script>
    <script>
        window.addEventListener('load',(event)=>{
            

            globalThis.vapp = vappCreateApp.mount(document.querySelector('.app-layout'))
            // v=vappCreateApp.mount(document.querySelector('.app-layout'))
            // console.log(v);

            LayerForElement.autoSync()
            globalThis.lfe = new LayerForElement(document.querySelector('#lfe-wrap-1'));
            // lfe.onshow = function(lfe){
            //     console.log('onshow',lfe.isShow,this.wrap,this.target)
            // }
            // lfe.onhide = function(lfe){
            //     console.log('onhide',lfe.isShow)
            // }
            // lfe.ontoggle = function(lfe){
            //     console.log('ontoggle',lfe.isShow,this.wrap,this.target)
            // }


            globalThis.docb = new DocumentBuilder(document.querySelector('#docb-container'),lfe,document.querySelector('.app-layout'),vapp)
            docb.addEventListener();
            docb.editMode = true;

            vapp.docb = docb
            vapp.focusElement = docb.focusElement;
            // console.log(vapp.focusElement);
            
        })
    </script>
</head>
<body >
    <template id="template_head">
        <!-- <link rel="stylesheet" href="../ui_layerForElement/lfe.css"> -->
        <link rel="stylesheet" href="doc.css">
        <link rel="stylesheet" href="data-focus.css">
        <link rel="stylesheet" href="data-shape.css">  
        <link rel="stylesheet" href="builder.css">
        <!-- <link rel="stylesheet" href="builder-app.css">
        <link rel="stylesheet" href="builder-lfe.css"> -->
    </template>
    <div class="app-layout app-docb">
        <div class="min-vh-100 d-flex flex-column">
            <!-- <div class="bg-light">
                <nav class="navbar navbar-expand-sm navbar-light bg-light" >
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">DOCBUILDER</a>
                        <button
                            class="navbar-toggler d-lg-none"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsibleNavId"
                            aria-controls="collapsibleNavId"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapsibleNavId">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#" aria-current="page"
                                        >Home
                                        <span class="visually-hidden">(current)</span></a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        id="dropdownId"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        >Dropdown</a
                                    >
                                    <div
                                        class="dropdown-menu"
                                        aria-labelledby="dropdownId"
                                    >
                                        <a class="dropdown-item" href="#"
                                            >Action 1</a
                                        >
                                        <a class="dropdown-item" href="#"
                                            >Action 2</a
                                        >
                                    </div>
                                </li>
                            </ul>
                            <form class="d-flex ">
                                <input
                                    class="form-control me-sm-2"
                                    type="text"
                                    placeholder="Search"
                                />
                                <button
                                    class="btn btn-outline-success my-2 my-sm-0"
                                    type="submit"
                                >
                                    Search
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div> -->
            <div class="container-fluid flex-fill d-flex" >
                <div class="row  flex-fill flex-nowrap">
                    <div id="side-left" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light overflow-y-auto" style="max-width: 300px; font-size: 12px; height: calc(100vh - var(--navbar-height));position: sticky;top:0;left;0">
                        <h1 class="fs-4 text-center py-3">DOCBUILDER</h1>
                        <div class="text-secondary">
                            
                            <h3 class="text-center ">Element</h3>
                            <h4>Layout</h4>
                            <div>
                                <div class="d-flex flex-wrap side-left-menus">
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'block'})"> BLOCK </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'inline'})"> inline </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'inline-block'})"> inline-block </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'flex'})"> FLEX </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'flex flex-2'})"> FLEX-2 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'flex flex-3'})"> FLEX-3 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'flex flex-4'})"> FLEX-4 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'flex flex-5'})"> FLEX-5 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'grid grid-2'})"> grid-2 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'grid grid-3'})"> grid-3 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'grid grid-4'})"> grid-4 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'layout','data-layout':'grid grid-5'})"> grid-5 </button> </div>
                                </div>
                            </div>
                            <h4>Edit Block</h4>
                            <div>
                                <div class="d-flex flex-wrap side-left-menus">
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h1',{'data-type':'block','data-status':'editable'})"> H1 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h2',{'data-type':'block','data-status':'editable'})"> H2 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h3',{'data-type':'block','data-status':'editable'})"> H3 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h4',{'data-type':'block','data-status':'editable'})"> H4 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h5',{'data-type':'block','data-status':'editable'})"> H5 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('h6',{'data-type':'block','data-status':'editable'})"> H6 </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('div',{'data-type':'block','data-status':'editable'})"> DIV </button> </div>                                    
                                </div>
                            </div>
                            <h4>Content</h4>
                            <div>
                                <div class="d-flex flex-wrap side-left-menus">
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('a',{'data-type':'content','href':'#'},null,'LINK')"> LINK </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('button',{'data-type':'content','type':'button'},null,'BUTTON')"> BUTTON </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('input',{'data-type':'content','type':'button'},{'value':'BUTTON'})"> INPUT:BUTTON </button> </div>
                                    <div class="col-12 pb-1"> <button type="button" class="btn btn-secondary btn-sm w-100" onclick="docb.appendWithCreateElementToFocusElement('img',{'data-type':'content','src':'20240308182630505.jpg'})"> img </button> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="workplace" class="col">
                        <div class="builder-container" id="docb-container">
                            <div class="builder">
                                <div class="doc">
                                    <div class="page" data-type="zone" data-layout="page" data-status="fixed readonly" style="max-width: 600px; margin: 0px auto; width: 600px;" data-focus="">
                                        <h1 data-type="block" data-status="editable" style="background-color: rgb(107, 0, 0); color: rgb(255, 255, 255);  max-width:300px;width:300px; margin:0 auto;text-align: center;">
                                            <b>제목</b>
                                        </h1>
                                        <div data-type="block" data-status="editable">
                                            <div style="text-align: center;">
                                                <span >뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라</span>
                                            </div>
                                            <div style="text-align: center;">
                                                <img data-type="content" src="20240308182630505.jpg" style="max-width: 300px; width: 300px;">
                                            </div>
                                            <div style="text-align: center;">
                                                <span >뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라 뭐라</span>
                                            </div>
                                            
                                        </div>
                                            
                                            
                                            <div data-type="zone" data-layout="grid grid-4"><div data-type="block">1</div><div data-type="block">2</div><div data-type="block">3</div><div data-type="block">4</div></div><div data-type="zone" data-layout="div">
                                                <div data-type="block" style="text-align: center;">
                                                    <button data-type="content" data-status="editable" style="background-color: rgb(49, 146, 47); color: rgb(255, 255, 255); max-width: 300px; width: 300px;">
                                                        <font size="7">버튼</font>
                                                    </button>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div id="side-right" class="col-auto col-md-3 col-xl-2  bg-light overflow-y-auto" style="max-width: 300px; font-size: 12px; height: calc(100vh - var(--navbar-height));position: sticky;top:0;left:0;">
                        <div class="d-flex flex-column align-items-center align-items-stretch align-items-sm-start pt-2  x-min-vh-100">
                            <h4>APP</h4>
                            <div class="d-flex flex-wrap">
                                <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.editMode = !docb.editMode" ><i class="bi bi-pencil-square"></i> edit/preview</button>
                                <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.clear()" ><i class="bi bi-trash"></i> clear</button>
                                <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.download(docb.doc.outerHTML,'doc.html','text/html')" ><i class="bi bi-filetype-html"></i> download HTML</button>
                            </div>
                            <div class="" v-if="!!focusElement" >
                                <h4>Layout</h4>
                                <div class="btn-group btn-group-sm m-1  " role="group" hide-focus-moving>
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm" style="width: 6em;" 
                                            onchange="docb.attributeFocusElement('data-layout',this.value);" 
                                            :value="focusElement?.dataset?.layout??''"
                                            :disabled="focusElement?.dataset?.layout=='page'"
                                        >
                                            <option value="">#DATA-LAYOUT#</option>
                                            <option value="">default</option>
                                            <option value="block">block</option>
                                            <option value="inline">inline</option>
                                            <option value="inline-block">inline-block</option>
                                            <option value="flex">flex</option>
                                            <option value="flex flex-2">flex flex-2</option>
                                            <option value="flex flex-3">flex flex-3</option>
                                            <option value="flex flex-4">flex flex-4</option>
                                            <option value="flex flex-5">flex flex-5</option>
                                            <option value="grid grid-2">grid grid-2</option>
                                            <option value="grid grid-3">grid grid-3</option>
                                            <option value="grid grid-4">grid grid-4</option>
                                            <option value="grid grid-5">grid grid-5</option>
                                            
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=""  v-if="!!focusElement" >
                                <h4>Style</h4>
                                
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.margin=='0px auto 0px 0px' }" onpointerdown="docb.toggleStyleFocusElement('margin','0px auto 0px 0px');return false;"><i class="bi bi-align-start"></i></button>
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.margin=='0px auto' }" onpointerdown="docb.toggleStyleFocusElement('margin','0px auto');return false;"><i class="bi bi-align-center"></i></button>
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.margin=='0px 0px 0px auto' }" onpointerdown="docb.toggleStyleFocusElement('margin','0px 0px 0px auto');return false;"><i class="bi bi-align-end"></i></button>
                                    <!-- <button type="button" class="btn btn-success" onpointerdown="docb.toggleStyleFocusElement('margin',null);return false;"><i class="bi bi-eraser"></i></button> -->
                                </div>
                                <div class="btn-group btn-group-sm m-1  " role="group" hide-focus-moving>
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm" style="width: 6em;" 
                                            xonchange="docb.styleFocusElement('maxWidth',this.value);docb.styleFocusElement('width',this.value);return false;" 
                                            v-model="focusElement.style.maxWidth"
                                            @change="focusElement.style.width = focusElement.style.maxWidth"
                                        >
                                            <option value="">#MAX-WIDTH#</option>
                                            <option value="">Default</option>
                                            <option value="100%">100%</option>
                                            <option value="75%">75%</option>
                                            <option value="50%">50%</option>
                                            <option value="600px">600px</option>
                                            <option value="500px">500px</option>
                                            <option value="400px">400px</option>
                                            <option value="300px">300px</option>
                                            <option value="200px">200px</option>
                                            <option value="100px">100px</option>
                                        </select>
                                    </div>
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm" style="width: 6em;" 
                                            v-model="focusElement.style.minHeight"
                                        >
                                            <option value="">#MIN-HEIGHT#</option>
                                            <option value="">Default</option>
                                            <option value="2000px">2000px</option>
                                            <option value="1500px">1500px</option>
                                            <option value="1000px">1000px</option>
                                            <option value="600px">600px</option>
                                            <option value="500px">500px</option>
                                            <option value="400px">400px</option>
                                            <option value="300px">300px</option>
                                            <option value="200px">200px</option>
                                            <option value="50px">50px</option>
                                            <option value="40px">40px</option>
                                            <option value="30px">30px</option>
                                            <option value="20px">20px</option>
                                            <option value="3em">3em</option>
                                            <option value="2em">2em</option>
                                            <option value="1.5em">1.5em</option>
                                            <option value="1em">1em</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-1">
                                <h6>PADDING(안쪽 여백)</h6>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.paddingTop">
                                                <option value="">#PADDING-TOP#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.paddingLeft">
                                                <option value="">#PADDING-LEFT#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.paddingRight">
                                                <option value="">#PADDING-RIGHT#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-12 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.paddingBottom">
                                                <option value="">#PADDING-BOTTOM#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                </div>
                                <h6>MARGIN(바깥쪽 여백)</h6>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.marginTop">
                                                <option value="">#MARGIN-TOP#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.marginLeft">
                                                <option value="">#MARGIN-LEFT#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.marginRight">
                                                <option value="">#MARGIN-RIGHT#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                    <div class="col-12 text-center">
                                        <div class="btn btn-success p-0">
                                            <select class="form-select form-select-sm" style="width: 6em;" v-model="focusElement.style.marginBottom">
                                                <option value="">#MARGIN-BOTTOM#</option>
                                                <option value="">Default</option>
                                                <option value="auto">auto</option>
                                                <option value="20px">20px</option>
                                                <option value="10px">10px</option>
                                                <option value="5px">5px</option>
                                                <option value="0px">0px</option>
                                            </select>
                                        </div>    
                                    </div>
                                </div>

                                <hr class="my-1">
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <label class="btn btn-success p-0" ><input type="color" style="height: 1.8em;width:1.8em" 
                                        onpointerdown="this.oninput()" oninput="docb.styleFocusElement('borderColor',this.value); console.log(this.value);  return false;"
                                        :value="styleColorToHex(focusElement?.style?.borderColor??'#000000')"
                                    ></label>
                                    <button type="button" class="btn btn-success" onpointerdown="docb.clearStyleFocusElement('borderColor')" ><i class="bi bi-eraser"></i></button>
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm px-1" style="width: 4em;" 
                                            v-model="focusElement.style.borderStyle"
                                        >
                                            <option value="">#BORDER-STYLE#</option>
                                            <option value="">Default</option>
                                            <option value="solid">solid</option>
                                            <option value="dotted">dotted</option>
                                            <option value="dashed">dashed</option>
                                            <option value="none">none</option>
                                        </select>
                                    </div>
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm px-1" style="width: 4em;" 
                                            v-model="focusElement.style.borderWidth"
                                        >
                                            <option value="">#BORDER-WIDTH#</option>
                                            <option value="">Default</option>
                                            <option value="5px">5px</option>
                                            <option value="4px">4px</option>
                                            <option value="3px">3px</option>
                                            <option value="2px">2px</option>
                                            <option value="1px">1px</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <div class="col btn btn-success p-0">
                                        <select class="form-select form-select-sm" style="width: 6em;"
                                            v-model="focusElement.style.borderRadius"
                                        >
                                            <option value="">#BORDER-RADIUS#</option>
                                            <option value="">Default</option>
                                            <option value="999999px">pill</option>
                                            <option value="20px">20px</option>
                                            <option value="10px">10px</option>
                                            <option value="5px">5px</option>
                                            <option value="0px">0px</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-1">
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.textAlign=='left' }" onpointerdown="docb.toggleStyleFocusElement('textAlign','left');return false;"><i class="bi bi-text-left"></i></button>
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.textAlign=='center' }" onpointerdown="docb.toggleStyleFocusElement('textAlign','center');return false;"><i class="bi bi-text-center"></i></button>
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.textAlign=='right' }" onpointerdown="docb.toggleStyleFocusElement('textAlign','right');return false;"><i class="bi bi-text-right"></i></button>
                                </div>
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <label type="button" class="btn btn-success p-0" >
                                        <select class="form-select form-select-sm px-1" style="width: 8em;" 
                                            v-model="focusElement.style.fontFamily"
                                        >
                                            <option value="">#FONT#</option>
                                            <option value="">Default</option>
                                            <option value="굴림">굴림</option>
                                            <option value="돋움">돋움</option>
                                            <option value="바탕">바탕</option>
                                            <option value="궁서">궁서</option>
                                            <option value="굴림체">굴림체</option>
                                            <option value="돋움체">돋움체</option>
                                            <option value="바탕체">바탕체</option>
                                            <option value="궁서체">궁서체</option>
                                            <option value="Arial">Arial</option>
                                            <option value="Arial Black">Arial Black</option>
                                            <option value="Arial Narrow">Arial Narrow</option>
                                            <option value="Courier New">Courier New</option>
                                            <option value="System">System</option>
                                            <option value="Times New Roman">Times New Roman</option>
                                            <option value="Tahoma">Tahoma</option>
                                            <option value="Terminal">Terminal</option>
                                            <option value="Verdana">Verdana</option>
                                            <option value="Roboto">Roboto</option>
                                            <option value="Courier New">Courier New</option>
                                            <option value="Courier">Courier</option>
                                            <option value="monospace">monospace</option>
                                        </select>
                                    </label>
                                    <label type="button" class="btn btn-success p-0" >
                                        <select class="form-select form-select-sm px-1" style="width: 4em;" 
                                            v-model="focusElement.style.fontSize"
                                        >
                                            <option value="">#FONT-SIZE#</option>
                                            <option value="">Default</option>
                                            <option value="10px">10px</option>
                                            <option value="12px">12px</option>
                                            <option value="14px">14px</option>
                                            <option value="16px">16px</option>
                                            <option value="18px">18px</option>
                                            <option value="20px">20px</option>
                                            <option value="22px">22px</option>
                                            <option value="24px">24px</option>
                                            <option value="26px">26px</option>
                                            <option value="28px">28px</option>
                                            <option value="30px">30px</option>
                                            <option value="40px">40px</option>
                                            <option value="50px">50px</option>
                                            <option value="60px">60px</option>
                                            <option value="60px">60px</option>
                                            <option value="70px">70px</option>
                                            <option value="90px">90px</option>
                                            <option value="100px">100px</option>
                                            
                                        </select>
                                    </label>
                                </div>

    
    
    
                                <div class="btn-group btn-group-sm m-1" role="group">
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.fontWeight=='bold' }" onpointerdown="docb.toggleStyleFocusElement('fontWeight','bold');return false;"><i class="bi bi-type-bold"></i></button>
                                    <button type="button" class="btn btn-success" :class="{ active: focusElement && focusElement?.style?.fontStyle=='italic' }" onpointerdown="docb.toggleStyleFocusElement('fontStyle','italic');return false;"><i class="bi bi-type-italic"></i></button>
                                </div>
                                <div class="btn-group btn-group-sm m-1" role="group" hide-focus-moving>
                                    <label class="btn btn-success p-0" ><input type="color" style="height: 1.8em;width:1.8em" 
                                        onpointerdown="this.oninput()" oninput="docb.styleFocusElement('color',this.value); console.log(this.value);  return false;"
                                        :value="styleColorToHex(focusElement?.style?.color??'')"
                                    ></label>
                                    <button type="button" class="btn btn-success" onpointerdown="docb.clearStyleFocusElement('color')" ><i class="bi bi-eraser"></i></button>
                                    <label class="btn btn-success p-0" ><input type="color" style="height: 1.8em;width:1.8em" 
                                        onpointerdown="this.oninput()" oninput="docb.styleFocusElement('backgroundColor',this.value);return false;"
                                        :value="styleColorToHex(focusElement?.style?.backgroundColor??'')"
                                        ></label>
                                    <button type="button" class="btn btn-success" onpointerdown="docb.clearStyleFocusElement('backgroundColor')" ><i class="bi bi-eraser"></i></button>
                                </div>

                                <label class="input-group input-group-sm m-1 w-auto">
                                    <span class="input-group-text">innerHTML</span>
                                    <input type="text" class="form-control" placeholder="HTML" :value="focusElement?.innerHTML??''" oninput="docb.propertyFocusElement('innerHTML',this.value)" :disabled="focusElement && focusElement.dataset.type!='content'" >
                                </label>
    
    
                            </div>
                            <h4>Shape</h4>
    
                            <h4>Attributes</h4>
                            <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.toPreviousSibling(docb.focusElement)" >이전</button>
                            <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.toNextSibling(docb.focusElement)" >다음</button>
                            
                            <button type="button" class="btn btn-primary btn-sm m-1" onclick="lfe.toggle()" >lfe.toggle()</button>
                            
                            <button type="button" class="btn btn-primary btn-sm m-1" onclick="docb.clear()" >clear</button>
                            <button type="button" class="btn btn-primary btn-sm m-1" onclick='docb.clearAndInitFromHtml(`<div data-type="zone" data-layout="normal"><h1 data-type="block">제목 부분</h1></div><div data-type="zone" data-layout="normal"><p data-type="block" data-focus="" >내용부분</p></div>`)' >clearAndInit</button>
                            <form>

                            </form>
                        </div>
                        
                    </div>
                </div>
        
                
            </div>
        </div>
    
    
    
    
    
    
    
    
    
        <div class="lfe-container">
            <div class="lfe-wrap lfe-motion-fade lfe-wrap-caged" id="lfe-wrap-1">
                <div class="lfe-layer" >
                    <form action="" class="m-1" onsubmit="return false;" v-if="!!focusElement">
                        <div class="d-flex flex-wrap gap-1 justify-content-center">
                            <div class="d-flex flex-wrap gap-1 pointer-events-all" >
                                <div class="btn-group btn-group-sm mb-1" role="group" v-if="!focusElement.dataset.status?.includes('fixed')">
                                    <button type="button" class="btn btn-primary" onpointerdown="docb.startEventMoveToAsPointerEvent(event)"><i class="bi bi-arrows-move"></i></button>
                                    <button type="button" class="btn btn-primary" :disabled="isFocusMoving" onpointerdown="docb.toPreviousSibling(docb.focusElement);return false;"><i class="bi bi-arrow-up-left"></i></button>
                                    <button type="button" class="btn btn-primary" :disabled="isFocusMoving" onpointerdown="docb.toNextSibling(docb.focusElement);return false;"><i class="bi bi-arrow-down-right"></i></button>
                                </div>

                                <div class="btn-group btn-group-sm mb-1" role="group" v-if="!focusElement.dataset.status?.includes('readonly')">
                                    <button type="button" class="btn btn-danger" onclick="docb.removeFocusElement();" :disabled="isFocusMoving"><i class="bi bi-trash"></i></button>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="d-flex flex-wrap gap-1 " v-if="focusElement && focusElement.contentEditable=='true' && !isFocusMoving">

                            <div class="btn-group btn-group-sm mb-1 pointer-events-all " role="group">
                                <div class="col btn btn-success p-0">
                                    <select class="form-select form-select-sm" style="width: 8em;" onchange="docb.execCommand('fontName',null,this.value);this.value='';return false;"  >
                                        <option value="">#FONT#</option>
                                        <option value="">Default</option>
                                        <option value="굴림">굴림</option>
                                        <option value="돋움">돋움</option>
                                        <option value="바탕">바탕</option>
                                        <option value="궁서">궁서</option>
                                        <option value="굴림체">굴림체</option>
                                        <option value="돋움체">돋움체</option>
                                        <option value="바탕체">바탕체</option>
                                        <option value="궁서체">궁서체</option>
                                        <option value="Arial">Arial</option>
                                        <option value="Arial Black">Arial Black</option>
                                        <option value="Arial Narrow">Arial Narrow</option>
                                        <option value="Courier New">Courier New</option>
                                        <option value="System">System</option>
                                        <option value="Times New Roman">Times New Roman</option>
                                        <option value="Tahoma">Tahoma</option>
                                        <option value="Terminal">Terminal</option>
                                        <option value="Verdana">Verdana</option>
                                        <option value="Roboto">Roboto</option>
                                        <option value="Courier New">Courier New</option>
                                        <option value="Courier">Courier</option>
                                        <option value="monospace">monospace</option>
                                    </select>
                                </div>
                                <div class="col btn btn-success p-0">
                                    <select class="form-select form-select-sm" style="width: 6em;" onchange="docb.execCommand('fontSize',null,this.value);this.value='';return false;"  >
                                        <option value="">#SIZE#</option>
                                        <option value="">Default</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('bold');return false"><i class="bi bi-type-bold"></i></button>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('italic');return false;"><i class="bi bi-type-italic"></i></button>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('justifyLeft');return false;"><i class="bi bi-text-left"></i></button>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('justifyCenter');return false;"><i class="bi bi-text-center"></i></button>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('justifyRight');return false;"><i class="bi bi-text-right"></i></button>
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('justifyFull');return false;"><i class="bi bi-justify-left"></i></button>
                                <label class="btn btn-success p-0" ><input type="color"   style="height: 1.8em;width:1.8em" onpointerdown="this.oninput()"  oninput="docb.execCommand('foreColor',null,this.value);return false;"></label>
                                <label class="btn btn-success p-0" ><input type="color"   style="height: 1.8em;width:1.8em" onpointerdown="this.oninput()"  oninput="docb.execCommand('backColor',null,this.value);return false;"></label>                                
                                <button type="button" class="btn btn-success" onpointerdown="docb.execCommand('selectAll');docb.execCommand('removeFormat');return false;"><i class="bi bi-eraser"></i></button>
                            </div>
                        </div>
                        
                        

                        <!-- <div class="btn-group btn-group-sm mb-1" role="group">
                            <button type="button" class="btn btn-danger" onclick="docb.styleFocusElement('cssText',null)"><i class="bi bi-eraser"></i></button>
                        </div> -->
                        
                        

                        <!-- <div class="btn-group btn-group-sm mb-1" role="group">
                            <button type="button" class="btn btn-danger" onclick="LayerForElement.hideFromElement(this)">X</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>